<div class="main-content">
  <mat-card class="cardWithShadow">
    <mat-card-content>
      <mat-card-title>Words & Phrases</mat-card-title>
    </mat-card-content>
  </mat-card>
  <button (click)="openWordCreateDialog()" mat-flat-button color="primary" class="m-b-8">
    New Word
  </button>
  <button (click)="openPhraseCreateDialog()" mat-flat-button color="accent" class="m-b-8 m-l-16">
    New Phrase
  </button>
  <!--FILTRO-->
  <form (ngSubmit)="onSubmit()">

    <mat-card class="cardWithShadow">
      <mat-card-subtitle class="mat-body-1 m-t-8 m-l-16">Filter</mat-card-subtitle>
      <mat-card-content class="p-24">
        <div class="row">
          <div class="col-lg-4">
            <mat-card>
              <mat-form-field>
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block text-center">Choose</mat-label>

                <mat-select [(ngModel)]="filter.idCategoria" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let categoria of categoriaOptions" [value]="categoria.id">
                    {{categoria.descripcion}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card>
          </div>
          <div class="col-lg-4">
            <mat-card class="b-1 shadow-none">
              <mat-form-field appearance="outline" class="w-100" color="primary">
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block">Word</mat-label>
                <input type="text" name="word" matInput placeholder="Search a word" [(ngModel)]="filter.word"
                  [ngModelOptions]="{ standalone: true }">
              </mat-form-field>
            </mat-card>
          </div>
          <div class="col-lg-4">
            <mat-card class="b-1 shadow-none">
              <mat-form-field>
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block text-center">Level</mat-label>

                <mat-select [(ngModel)]="filter.level" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let dificultad of dificultadOptions" [value]="dificultad">
                    {{dificultad}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </mat-card>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-4">
            <mat-card class="b-1 shadow-none">
              <mat-form-field>
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block text-center">Lerned</mat-label>

                <mat-select>
                  <mat-option *ngFor="let aprendido of estadoOptions" [value]="aprendido">
                    {{aprendido}}
                  </mat-option>
                </mat-select>

              </mat-form-field>
            </mat-card>
          </div>
          <div class="col-lg-4">
            <mat-card class="b-1 shadow-none">
              <mat-form-field>
                <mat-label class="mat-subtitle-2 f-s-14 f-w-600 m-b-12 d-block text-center">Type</mat-label>

                <mat-select [(ngModel)]="filter.codTipo" [ngModelOptions]="{standalone: true}">
                  <mat-option *ngFor="let tipo of tipoOptions" [value]="tipo.codTipo">
                    {{ tipo.descripcion }}
                  </mat-option>
                </mat-select>

              </mat-form-field>
            </mat-card>
          </div>

        </div>
        <div class="row">
          <div class="col-lg-4">

            <mat-form-field class="example-form-field">
              <mat-label>Enter a date range</mat-label>
              <mat-date-range-input [rangePicker]="rangePicker">
                <input matStartDate placeholder="Start date">
                <input matEndDate placeholder="End date">
              </mat-date-range-input>
              <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="rangePicker"></mat-datepicker-toggle>
              <mat-date-range-picker #rangePicker>
                <mat-date-range-picker-actions>
                  <button mat-button matDateRangePickerCancel>Cancel</button>
                  <button mat-raised-button color="primary" matDateRangePickerApply>Apply</button>
                </mat-date-range-picker-actions>
              </mat-date-range-picker>
            </mat-form-field>
          </div>
        </div>

        <button mat-flat-button color="primary" class="m-t-16" type="submit">Apply</button>
        <button mat-flat-button color="warn" class="m-t-16 m-l-16" type="submit">Clean</button>

      </mat-card-content>
    </mat-card>
  </form>
  <mat-card class="cardWithShadow m-t-16">
    <mat-card-content class="p-24">
      <mat-card-title></mat-card-title>
      <div class="table-responsive">
        <table class="w-100">
          <thead>
            <tr>

              <th class="f-w-600 mat-subtitle-1 f-s-14">#</th>

              <th class="f-w-600 mat-subtitle-1 f-s-14">Word & Phrase</th>

              <th class="f-w-600 mat-subtitle-1 f-s-14">Level</th>

              <th class="f-w-600 mat-subtitle-1 f-s-14">Learned</th>

              <th class="f-w-600 mat-subtitle-1 f-s-14">Type</th>

              <th class="f-w-600 mat-subtitle-1 f-s-14">Date Registered</th>

              <th class="f-w-600 mat-subtitle-1 f-s-14">Sentences</th>
              <!--

              <th class="f-w-600 mat-subtitle-1 f-s-14">Meanings</th>
                -->
              <th class="f-w-600 mat-subtitle-1 f-s-14">Action</th>

            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let word of displayedWordsWithTypes; let i = index">

              <td class="mat-body-1 text-center">{{ i + 1 }}</td>

              <td class="mat-body-1">{{ word.contenido }}</td>

              <td class="mat-body-1 text-center">{{ word.dificultad }}</td>

              <td class="mat-body-1 text-center"><mat-checkbox class="example-margin" [disabled]="true"
                  [checked]="word.aprendido"></mat-checkbox>
              </td>

              <td class="mat-body-1 text-center">{{ word.tipoDescripcion }}</td>

              <td class="mat-body-1 text-center">{{ word.fechaRegistro | date:'dd-MM-yyyy'}}</td>

              <td class="mat-body-1 text-center">
                <button (click)="openSentenceDialog(word.idPalabraFrase,word.contenido)" mat-icon-button
                  color="primary">
                  <mat-icon>remove_red_eye</mat-icon>
                </button>

              </td>
              <!--
              <td class="mat-body-1 text-center">
                <button mat-icon-button color="primary"><mat-icon>remove_red_eye</mat-icon></button>

              </td>
              -->
              <td class="mat-body-1 text-center">
                <button (click)="openWordUpdateDialog(word)" mat-mini-fab color="accent" class="m-t-8 text-center">
                  <mat-icon aria-hidden="false" aria-label="Edit icon">edit</mat-icon>

                </button>
                <button (click)="deleteWord(word)" mat-mini-fab color="warn" class="m-t-8 m-l-16 text-center">
                  <mat-icon aria-hidden="false" aria-label="Delete icon">delete</mat-icon>


                </button>

              </td>


            </tr>

          </tbody>
        </table>
        <mat-paginator [length]="words.length" [pageIndex]="pageIndex" [pageSize]="pageSize"
          [pageSizeOptions]="pageSizeOptions" (page)="onPageChange($event)" class="m-t-16"></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>

</div>

<!--
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <mat-card-title>Top Projects</mat-card-title>
      <div class="table-responsive m-t-16">
        <table mat-table [dataSource]="dataSource" class="w-100">
          
          <ng-container matColumnDef="assigned">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Assigned
            </th>
            <td mat-cell *matCellDef="let element">
              <div class="d-flex align-items-center">
                <img
                  [src]="element.imagePath"
                  alt="users"
                  width="40"
                  class="rounded-circle"
                />
                <div class="m-l-16">
                  <h6 class="mat-subtitle-1 f-s-14 f-w-600">
                    {{ element.uname }}
                  </h6>
                  <span class="mat-body-1 f-s-12">
                    {{ element.position }}
                  </span>
                </div>
              </div>
            </td>
          </ng-container>

          Name Column
          <ng-container matColumnDef="name">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Name
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              {{ element.productName }}
            </td>
          </ng-container>

          Weight Column
          <ng-container matColumnDef="priority">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Priority
            </th>
            <td mat-cell *matCellDef="let element">
              <ng-template [ngIf]="element.priority == 'low'">
                <span
                  class="bg-light-accent text-accent rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                  {{ element.priority | titlecase }}
                </span>
              </ng-template>
              <ng-template [ngIf]="element.priority == 'medium'">
                <span
                  class="bg-light-primary text-primary rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                  {{ element.priority | titlecase }}
                </span>
              </ng-template>
              <ng-template [ngIf]="element.priority == 'high'">
                <span
                  class="bg-light-warning text-warning rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                  {{ element.priority | titlecase }}
                </span>
              </ng-template>
              <ng-template [ngIf]="element.priority == 'critical'">
                <span
                  class="bg-light-error text-error rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                  {{ element.priority | titlecase }}
                </span>
              </ng-template>
              <ng-template [ngIf]="element.priority == 'moderate'">
                <span
                  class="bg-light-success text-success rounded f-w-600 p-6 p-y-4 f-s-12"
                >
                  {{ element.priority | titlecase }}
                </span>
              </ng-template>
            </td>
          </ng-container>

          Symbol Column
          <ng-container matColumnDef="budget">
            <th
              mat-header-cell
              *matHeaderCellDef
              class="f-w-600 mat-subtitle-1 f-s-14"
            >
              Budget
            </th>
            <td mat-cell *matCellDef="let element" class="mat-body-1">
              ${{ element.budget }}k
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
      </div>
    </mat-card-content>
  </mat-card>
-->